/* html {
  height: 100%;
  overflow: auto;
} */

body {
  margin: 0;
  font-size: 15px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  /* min-height: calc(100vh - 16px - 21px); */
  height: calc(100vh - 60px);
}

/* Tabs in Profile */
.nav-tabs {
  margin: 1px -15px 10px !important;
}
.nav-tabs .nav-link {
  width: 50%;
  margin: 0px;
  padding: 1rem 1rem;
  color: #919aa1;
  text-align: center;
}
.nav-tabs .nav-link.active {
  border-color: #fff;
  font-weight: bold;
}
#tabs-tab-public {
  border-right: 1px #eceeef solid;
  border-left: 0px #eceeef solid;
}
#tabs-tab-subOnly {
  border-left: 1px #eceeef solid;
  border-right: 0px #eceeef solid;
}
/* End Tabs in Profile */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header-search {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.stroke {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* Swiper styles */
:root{
  --swiper-theme-color: #888 !important;
  --swiper-navigation-color: #FFF !important;
  --swiper-navigation-size: 22px !important;
}
.swiper-button-prev, .swiper-button-next{
  opacity: 0.5 !important;
  font-weight: 900;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  opacity: 1 !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 0 !important;
}
/* To change button
.swiper-button-next {
  background-image: url(./next.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
} */
/* End Swiper styles */


/* Modal Styles */
.postModal {
  margin-top: 10px !important;
  height: calc(100vh - 100px);
  width: min(calc(100vw - 50px), calc(100vh - 300px)) !important;
}

.photoModal {
  margin-top: 10px !important;
  /* height: calc(100vh - 100px); */
  /* width: min(calc(100vw - 50px), calc(100vh - 300px)) !important; */
}

/* Modal Styles End */

/* Delete Overlay */
/* .deleteHover:hover{
  opacity: 1;
} */

.deleteHover:hover::after{
  content: '\f2ed';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #FFF;
  font-family: "Font Awesome 5 Free";
  background-color: #AAA;
  width:30px;
  height:30px;
  border-radius: 100px;
  opacity: 0.8;
  margin-top:5px;
  margin-right:5px;
}
.editHover:hover::after{
  content: '\f044';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #FFF;
  font-family: "Font Awesome 5 Free";
  background-color: #AAA;
  width:200px;
  height:200px;
  border-radius: 100px;
  opacity: 0.5;
}

/* Quotes End */

/* Rombus */
.rombus {
  border-radius: 15px;  
  position: relative;
  overflow: hidden;
}
.rombus::before {
  content: "";
  background-repeat: no-repeat; 
  background-size: cover !important; 
  
  position: absolute;
  width: 100%; 
  height: 120%; 
}
.rombus-left{
  transform: skewY(8deg); 
  transform-origin: top left;
  height:450px;
}
.rombus-left::before{
  transform: skewY(-8deg); 
  transform-origin: top left;
}
.rombus-right{
  transform: skewY(-8deg); 
  transform-origin: top right;
  height:450px;
}
.flex-center{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rombus-right::before{
  transform: skewY(8deg); 
  transform-origin: top right;
}

.rombus-girl::before{
  background: linear-gradient(to top, #392269bc, #392269bc), url('backgrounds/girls-engage.jpeg');
  background-position: 40% 10%;
}
.rombus-tokens::before{
  /* background-image: url('backgrounds/token-box.jpeg');  */
  background: linear-gradient(to top, #392269bc, #392269bc), url('backgrounds/token-box.jpeg');
  background-position: 45% 10%; 
}
.rombus-meetup::before{
  background: linear-gradient(to top, #392269bc, #392269bc), url('backgrounds/meetup.jpeg'); 
  background-position: 75% center; 
}


.rombus-quad{
  background: linear-gradient(45deg, #f7ece1, #cac4ce);
  transform: skewY(4deg);
  height: 100%
}
.rombus-quad-inner{
  transform: skewY(-4deg)
}
.rombus h1{
  font-size:32px;
}
.rombus p{
  font-size:18px;
}
.rombus-quad h1{
  font-size:28px;
}
.rombus-quad p{
  font-size:16px;
}


/* rombus end */


/* social icons */
.social-icons {
  height:30px;
}
/* social icons end */

/* blue fire background */
#bluefire::after{
  content:'';
  position:absolute;
  bottom:0; left:0;
  border-left:calc(100vw - 20px) solid #000;
  border-top:20vw solid transparent;
}
/* blue fire background end */

/* FAQ Accordion */

.accordion{
  color: var(--tan);
  background-color: transparent !important;
}
.card{
  background-color: transparent !important;
  margin-top: 10px;
}
.accordion .card-header{
  background-color: transparent !important;
  font-weight: bold;
  font-size: 18px;
  border: var(--tan) 3px solid;
  border-radius: 15px !important;
  padding: 20px 40px
}
.accordion .card-body{
  color: var(--indigo);
  margin-top: 10px;
  background-color: var(--tan);
  border: none;
  border-radius: 15px !important;
  padding: 40px 40px
}
/* FAQ Accordion end */

/* roadmap */
#roadmap h3{
  color: #FFF;
}
#roadmap p{
  color: #FFF;
  font-size: 20px;
  /* margin-left: 25px; */
  /* padding-top: 25px; */
}
#roadmap .border-box{
  height: 150px; 
  border-radius: 15px; 
  width: 100%; 
  position: relative;
  background-clip: padding-box;
}
#roadmap .cover-box{
  position: absolute; 
  height: 100%; 
  width: 100%;
  background-color: black; 
  border-radius: 15px; 
  border: transparent 3px solid;
  background-clip: padding-box;
}
#roadmap .floater{
  position: absolute;
  bottom: 20px;
  left: calc(15px + 25px);
  height: 80px;
  width: 90%;
  z-Index: 10;
  border-radius: 15px;
  border: white 1px solid;
}


/* roadmap end */

/* hero */
#hero p{
  text-align: center;
  font-size: 20px;
}
/* hero end */